pkgbase = sc-hsm-embedded-git
	pkgdesc = Light-weight PKCS#11 module for SmartCard-HSM / Nitrokey HSM
	pkgver = 2.12.r17.g99eb391
	pkgrel = 1
	url = https://github.com/CardContact/sc-hsm-embedded
	arch = x86_64
	license = BSD-3-Clause
	makedepends = git
	makedepends = autoconf
	makedepends = automake
	makedepends = libtool
	depends = pcsclite
	depends = openssl
	provides = sc-hsm-embedded
	provides = libsc-hsm-pkcs11.so
	conflicts = sc-hsm-embedded
	source = git+https://github.com/CardContact/sc-hsm-embedded.git
	source = fix-c23-keywords.patch
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = sc-hsm-embedded-git
